body {
  background: #f7f8f3;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

body, form, div, p, a, img, h1, h2, h3, h4, h5, h6, table, table tr, table td {
  border: none;
  color: #000000;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

input,
textarea,
select {
  outline: none;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 4px;
  color: #6e774a;
  border: none;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  color: #6e774a;
}

input::-webkit-input-placeholder {
  color: #6e774a;
}

.active {
  max-height: 20em;
}

.block-nav {
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 20;
}

.block-nav__header {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background-color: #7272724b;
}

@media screen and (max-width: 900px) {
  .block-nav__header {
    background-color: #1b1b1b77;
  }
}

.block-nav__header .nav {
  margin-left: 15px;
}

@media screen and (max-width: 900px) {
  .block-nav__header .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 80px;
    margin-left: 0;
    left: 0;
    width: 100%;
    background-color: #1b1b1b77;
    padding-top: 20px;
  }
}

.block-nav__header .nav__nav-item {
  display: inline-block;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  margin: 0 20px;
  letter-spacing: 1px;
  position: relative;
}

@media screen and (max-width: 900px) {
  .block-nav__header .nav__nav-item {
    margin: 15px 0;
  }
}

.block-nav__header .nav__nav-item::before {
  content: '';
  position: absolute;
  top: 10px;
  left: -20%;
  display: block;
  width: 0;
  height: 2px;
  background-color: #9db892;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

@media screen and (max-width: 900px) {
  .block-nav__header .nav__nav-item::before {
    display: none;
  }
}

.block-nav__header .nav__nav-item:focus::before {
  width: 135%;
}

.block-nav__header .nav__nav-item:first-child {
  margin-left: 25px;
}

@media screen and (max-width: 900px) {
  .block-nav__header .nav__nav-item:first-child {
    margin: 0;
  }
}

.block-nav__header .logo {
  font-size: 30px;
  text-transform: uppercase;
  color: white;
  margin-left: -30px;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .block-nav__header .logo {
    margin-left: 50px;
  }
}

.block-nav__header .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 25px;
}

@media screen and (max-width: 900px) {
  .block-nav__header .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 286px;
    left: 0;
    margin-right: 25px;
    margin-left: 0;
    width: 100%;
    background-color: #1b1b1b77;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
}

.block-nav__header .buttons__btn {
  width: 100px;
  height: 80px;
  background-color: transparent;
  border: none;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  color: white;
  outline: none;
  cursor: pointer;
  letter-spacing: 1px;
  padding: 0 20px;
  margin: 0;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

@media screen and (max-width: 900px) {
  .block-nav__header .buttons__btn {
    border: none;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    margin: 0 20px;
    letter-spacing: 1px;
    font-size: 16px;
    margin: 0;
    height: 50px;
    padding: 0;
  }
}

.block-nav__header .buttons__btn:hover {
  background-color: #ced6af;
}

@media screen and (max-width: 900px) {
  .block-nav__header .buttons__btn:hover {
    background-color: transparent;
  }
}

.block-nav__header .buttons__btn:first-child {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 900px) {
  .block-nav__header .buttons__btn:first-child {
    border: none;
  }
}

.block-nav__header .buttons__btn .search {
  display: inline-block;
  width: 19px;
  height: 19px;
  fill: white;
  margin-right: 10px;
  margin-bottom: -4px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

@media screen and (max-width: 900px) {
  .block-nav__header .buttons__btn .search {
    display: none;
  }
}

.block-nav__header .buttons__btn .text {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.block-nav__header .buttons__btn--width {
  width: 150px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

@media screen and (max-width: 900px) {
  .block-nav__header .buttons__btn--width {
    background-color: transparent;
  }
}

.block-nav__header .buttons__btn--width:hover {
  background-color: #ced6af;
}

.block-nav__header .buttons__btn--width:hover .text {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  color: transparent;
}

.block-nav__header .buttons__btn--width:hover .search {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

@media screen and (max-width: 900px) {
  .block-nav__header .buttons__btn--cart {
    display: none;
  }
}

.block-nav__header .toggler {
  margin-right: 50px;
  display: none;
}

@media screen and (max-width: 900px) {
  .block-nav__header .toggler {
    display: block;
  }
}

.block-nav__header .toggler__menu {
  width: 35px;
  height: 22px;
  display: none;
  position: relative;
  z-index: 11;
  cursor: pointer;
}

@media screen and (max-width: 1140px) {
  .block-nav__header .toggler__menu {
    display: block;
    margin: 14px auto;
  }
}

.block-nav__header .toggler__menu .toggler-line {
  width: 100%;
  height: 4px;
  background-color: white;
  display: block;
  border-radius: 5px;
  position: absolute;
  left: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.block-nav__header .toggler__menu .toggler-line:nth-child(1) {
  top: 0;
}

.block-nav__header .toggler__menu .toggler-line:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.block-nav__header .toggler__menu .toggler-line:nth-child(3) {
  bottom: 0;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 40px solid transparent;
  border-top: 40px solid #ffffff;
  border-radius: 8px;
  position: fixed;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 90px;
  right: 50px;
  z-index: 10;
}

.block-cart {
  position: fixed;
  top: 100px;
  right: 12px;
  background-color: white;
  width: 350px;
  height: 500px;
  z-index: 20;
  border-radius: 8px;
  padding: 15px 25px;
  overflow-y: scroll;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}

.block-cart__add-products {
  margin: 10px;
}

.block-cart__add-products .head {
  padding: 15px;
  padding-bottom: 25px;
  padding-top: 10px;
}

.block-cart__add-products .head__caption {
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.block-cart__add-products .product-list__item {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ced6af;
  border-top: 1px solid #ced6af;
  margin-top: -1px;
}

.block-cart__add-products .product-list__item .product-image {
  width: 50px;
  padding-right: 20px;
}

.block-cart__add-products .product-list__item .product-image__img {
  width: 100%;
}

.block-cart__add-products .product-list__item .product-info__price {
  letter-spacing: 2px;
}

.block-cart__add-products .product-list__item .product-info__title {
  font-weight: 300;
  font-size: 17px;
  padding-bottom: 10px;
}

.block-cart__add-products .product-list__item .product-info__qty {
  font-weight: 300;
  letter-spacing: 1px;
}

.block-cart__add-products .product-list__item .product-info__qty .figure {
  font-weight: 400;
  padding-left: 7px;
}

.block-cart__add-products .product-list__item .product-delete {
  margin-top: -3px;
  margin-left: 10px;
  color: black;
}

.block-cart__add-products .product-list__item .product-delete__icon {
  cursor: pointer;
}

.block-cart__add-products .product-list__item .product-delete__icon:hover {
  color: #d41010;
}

.block-cart__sum {
  margin: 10px 10px 20px 10px;
}

.block-cart__sum .total {
  padding: 30px 15px 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-cart__sum .total__text {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.block-cart__sum .total__price {
  letter-spacing: 2px;
}

.block-cart__sum .block-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.block-cart__sum .block-buttons__btn {
  width: 130px;
  height: 50px;
  cursor: pointer;
  outline: none;
  border: 1px solid #ced6af;
  background-color: #9db892;
  margin-right: 10px;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 5px;
}

.block-cart__sum .block-buttons__btn:last-child {
  background-color: #ced6af;
  margin-right: 0;
}

.block-intro {
  background-image: url(../images/cbd-intro.jpg);
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.block-intro__side-caption {
  position: absolute;
  bottom: 123px;
  left: -115px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  text-transform: uppercase;
  font-size: 26px;
  letter-spacing: 1px;
}

@media screen and (max-width: 768px) {
  .block-intro__side-caption {
    display: none;
  }
}

.block-intro__side-caption .line {
  width: 100px;
  height: 100px;
  margin-right: 30px;
  margin-bottom: -3px;
  fill: white;
}

.block-intro__arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
}

.block-intro__arrow .down-arrow {
  width: 30px;
  height: 30px;
  fill: white;
  margin-bottom: 60px;
  margin-left: -20px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

@media screen and (max-width: 768px) {
  .block-intro__arrow .down-arrow {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  .block-intro__arrow .down-arrow {
    width: 20px;
    height: 20px;
  }
}

.block-intro__arrow .down-arrow:hover {
  -webkit-transform: scale(1.18, 1.18);
          transform: scale(1.18, 1.18);
}

.block-cbd-properties-logos {
  background-image: url(../images/page/block-properties-border.png);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  max-width: 690px;
  margin: 0 auto;
}

.block-cbd-properties-logos:hover {
  background-image: url(../images/page/block-properties-border-hover.png);
}

@media screen and (max-width: 768px) {
  .block-cbd-properties-logos {
    background-image: none;
  }
}

.block-testimonials {
  position: relative;
}

@media screen and (max-width: 710px) {
  .block-testimonials {
    display: none;
  }
}

.block-testimonials__side-caption {
  position: absolute;
  bottom: 170px;
  left: -40px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 6px;
  z-index: 10;
}

@media screen and (max-width: 1035px) {
  .block-testimonials__side-caption {
    display: none;
  }
}

.mainer {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.main-slide {
  padding: 300px 0 60px 0;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 768px) {
  .main-slide {
    margin: 0 auto;
    text-align: center;
    padding: 150px 0 100px 0;
  }
}

@media screen and (max-width: 480px) {
  .main-slide {
    padding: 100px 0;
  }
}

.main-slide__title {
  font-size: 55px;
  color: white;
  letter-spacing: 15px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .main-slide__title {
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  .main-slide__title {
    font-size: 23px;
    letter-spacing: 10px;
    margin-bottom: 10px;
  }
}

.main-slide__subtitle {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 9px;
  color: white;
  margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .main-slide__subtitle {
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  .main-slide__subtitle {
    font-size: 14px;
    letter-spacing: 5px;
  }
}

.main-slide__start-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: right;
  width: 270px;
  height: 70px;
  margin-bottom: 25px;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  border: 0 solid;
  -webkit-box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
          box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

@media screen and (max-width: 768px) {
  .main-slide__start-button {
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  .main-slide__start-button {
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 15px;
    width: 100%;
    height: 60px;
  }
}

.main-slide__start-button .button-line {
  width: 45px;
  height: 45px;
  fill: white;
  stroke: white;
  margin-left: 18px;
}

.main-slide__start-button:hover {
  border: 1px solid #ced6af;
  -webkit-box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
          box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

.main-slide__start-button:active {
  -webkit-transform: scale(0.99, 0.99);
          transform: scale(0.99, 0.99);
}

.main-slide__transition {
  display: block;
  text-decoration: none;
  color: white;
  float: right;
  font-weight: 300;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 5px;
  margin-bottom: 250px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
}

@media screen and (max-width: 768px) {
  .main-slide__transition {
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  .main-slide__transition {
    font-size: 14px;
  }
}

.main-slide__transition .right-arrow {
  width: 30px;
  height: 20px;
  fill: white;
  stroke: white;
  margin-top: 2px;
  margin-bottom: -3px;
}

@media screen and (max-width: 480px) {
  .main-slide__transition .right-arrow {
    margin-bottom: -5px;
  }
}

.main-slide__transition:hover .right-arrow {
  -webkit-animation: slideArrow 0.7s ease-in-out infinite;
          animation: slideArrow 0.7s ease-in-out infinite;
}

@-webkit-keyframes slideArrow {
  0%,
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(10px, 0);
            transform: translate(10px, 0);
  }
}

@keyframes slideArrow {
  0%,
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(10px, 0);
            transform: translate(10px, 0);
  }
}

.cbd-properties {
  padding: 120px 0;
}

@media screen and (max-width: 768px) {
  .cbd-properties {
    padding: 50px 0;
  }
}

.cbd-properties__caption {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 6px;
}

@media screen and (max-width: 540px) {
  .cbd-properties__caption {
    letter-spacing: 4px;
    margin-bottom: 10px;
  }
}

.cbd-properties__logos {
  text-align: center;
  margin-top: 20px;
}

@media screen and (max-width: 540px) {
  .cbd-properties__logos {
    background-image: url(../images/page/block-properties-logos-responsive.png);
    height: 230px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media screen and (max-width: 540px) {
  .cbd-properties__logos .img {
    display: none;
  }
}

.cbd-activity {
  margin-bottom: 220px;
  display: block;
}

@media screen and (max-width: 1350px) {
  .cbd-activity {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 480px) {
  .cbd-activity {
    margin-bottom: 185px;
  }
}

@media screen and (max-width: 430px) {
  .cbd-activity {
    margin-bottom: 230px;
  }
}

@media screen and (max-width: 350px) {
  .cbd-activity {
    margin-bottom: 280px;
  }
}

@media screen and (max-width: 340px) {
  .cbd-activity {
    margin-bottom: 320px;
  }
}

.cbd-activity__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #ced6af;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
  margin-bottom: 200px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

@media screen and (max-width: 1350px) {
  .cbd-activity__tabs {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 920px) {
  .cbd-activity__tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-bottom: none;
  }
}

@media screen and (max-width: 480px) {
  .cbd-activity__tabs {
    margin-bottom: 40px;
  }
}

.cbd-activity__tabs .tab-item {
  font-size: 30px;
  padding: 0 50px 10px 50px;
  letter-spacing: 6px;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .cbd-activity__tabs .tab-item {
    font-size: 24px;
  }
}

@media screen and (max-width: 920px) {
  .cbd-activity__tabs .tab-item {
    margin-bottom: 20px;
    border-bottom: 2px solid #ced6af;
  }
}

@media screen and (max-width: 540px) {
  .cbd-activity__tabs .tab-item {
    letter-spacing: 4px;
  }
}

@media screen and (max-width: 540px) {
  .cbd-activity__tabs .tab-item {
    text-align: center;
  }
}

.cbd-activity__tabs .tab-item.active {
  margin-bottom: -2px;
  border-bottom: 2px solid black;
}

@media screen and (max-width: 920px) {
  .cbd-activity__tabs .tab-item.active {
    margin-bottom: 20px;
  }
}

.cbd-activity__first-tab, .cbd-activity__third-tab, .cbd-activity__second-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  max-width: 970px;
  display: none;
}

.cbd-activity__first-tab.active, .active.cbd-activity__third-tab, .active.cbd-activity__second-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 920px) {
  .cbd-activity__first-tab, .cbd-activity__third-tab, .cbd-activity__second-tab {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin: 0 auto;
  }
}

.cbd-activity__first-tab .info-description, .cbd-activity__third-tab .info-description, .cbd-activity__second-tab .info-description {
  margin-right: 185px;
}

@media screen and (max-width: 920px) {
  .cbd-activity__first-tab .info-description, .cbd-activity__third-tab .info-description, .cbd-activity__second-tab .info-description {
    margin: 0 auto;
  }
}

.cbd-activity__first-tab .info-description__title, .cbd-activity__third-tab .info-description__title, .cbd-activity__second-tab .info-description__title {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 30px;
}

.cbd-activity__first-tab .info-description__text .text, .cbd-activity__third-tab .info-description__text .text, .cbd-activity__second-tab .info-description__text .text {
  color: #6e774a;
  font-size: 18px;
  font-weight: 300;
  line-height: 40px;
}

.cbd-activity__first-tab .info-images, .cbd-activity__third-tab .info-images, .cbd-activity__second-tab .info-images {
  max-width: 568px;
  margin-right: -170px;
  padding-right: 15px;
}

@media screen and (max-width: 1350px) {
  .cbd-activity__first-tab .info-images, .cbd-activity__third-tab .info-images, .cbd-activity__second-tab .info-images {
    display: none;
  }
}

.cbd-activity__first-tab .info-images__img, .cbd-activity__third-tab .info-images__img, .cbd-activity__second-tab .info-images__img {
  width: 100%;
  margin-bottom: 25px;
}

.cbd-activity__first-tab .info-images__img:last-child, .cbd-activity__third-tab .info-images__img:last-child, .cbd-activity__second-tab .info-images__img:last-child {
  margin-bottom: 0;
}

.cbd-activity__third-tab, .cbd-activity__second-tab {
  display: none;
}

.cbd-activity__third-tab .info-description, .cbd-activity__second-tab .info-description {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  margin-right: 0;
}

@media screen and (max-width: 920px) {
  .cbd-activity__third-tab .info-description, .cbd-activity__second-tab .info-description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin: 0 auto;
  }
}

.cbd-activity__third-tab .info-images, .cbd-activity__second-tab .info-images {
  margin-right: 160px;
}

.cbd-activity__third-tab .info-images__img, .cbd-activity__second-tab .info-images__img {
  width: 440px;
  margin-bottom: 25px;
}

.cbd-activity__third-tab .info-images__img .img, .cbd-activity__second-tab .info-images__img .img {
  width: 100%;
}

.cbd-activity__third-tab.active, .active.cbd-activity__second-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cbd-activity__second-tab {
  display: none;
}

.cbd-activity__second-tab .info-description {
  text-align: center;
  max-width: 500px;
  margin-top: -110px;
}

@media screen and (max-width: 1350px) {
  .cbd-activity__second-tab .info-description {
    margin-top: 140px;
  }
}

@media screen and (max-width: 920px) {
  .cbd-activity__second-tab .info-description {
    margin-top: 80px;
  }
}

@media screen and (max-width: 768px) {
  .cbd-activity__second-tab .info-description {
    margin-top: 180px;
    margin-bottom: 150px;
  }
}

@media screen and (max-width: 480px) {
  .cbd-activity__second-tab .info-description {
    margin-top: 250px;
    margin-bottom: 150px;
  }
}

@media screen and (max-width: 360px) {
  .cbd-activity__second-tab .info-description {
    margin-bottom: 150px;
  }
}

@media screen and (max-width: 920px) {
  .cbd-activity__second-tab .info-description__title {
    margin-top: 50px;
  }
}

.cbd-activity__second-tab .info-images {
  margin-bottom: 25px;
  margin-left: 70px;
}

.cbd-activity__second-tab .info-images__img {
  width: 700px;
  margin-bottom: 25px;
}

.cbd-activity__second-tab .info-images__img .img {
  width: 100%;
}

.cbd-activity__second-tab.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.slider-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 230px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 480px) {
  .slider-products {
    margin-bottom: 60px;
  }
}

.slider-products__item {
  margin: 0 15px;
}

.slider-products__item .block-main {
  background-color: white;
  padding: 30px;
  border: 1px solid #ced6af;
}

.slider-products__item .block-main__rating {
  margin-bottom: 15px;
}

.slider-products__item .block-main__rating .star {
  width: 16px;
  height: 15px;
  fill: #6e774a;
  margin: 0 3px;
}

.slider-products__item .block-main__description {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.slider-products__item .block-main__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-products__item .block-purchase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f1f1f1;
  border: 1px solid #e1e1e1;
  border-top: none;
  height: 75px;
}

.slider-products__item .block-purchase__price {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
  margin-right: 20px;
}

.slider-products__item .block-purchase__btn {
  width: 190px;
  height: 100%;
  background-color: #6e774a;
  border: none;
  outline: none;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.slider-products__item .block-purchase__btn .text {
  display: inline-block;
  -webkit-transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  -moz-transition: all 0.3s;
  -moz-backface-visibility: hidden;
  transition: all 0.3s;
  backface-visibility: hidden;
}

.slider-products__item .block-purchase__btn:before {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 2.5;
  font-size: 180%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.slider-products__item .block-purchase__btn:hover {
  background-color: #ced6af;
}

.slider-products__item .block-purchase__btn:hover .text {
  -webkit-transform: translateX(200%);
  transform: translateX(200%);
}

.slider-products__item .block-purchase__btn:hover .fas {
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  left: 40%;
}

.slider-products__item .block-purchase__btn:before {
  left: -100%;
  top: 0;
}

.slider-products__item .block-purchase__btn:hover:before {
  left: 0;
}

.slider-products__item .block-purchase__btn .line {
  width: 45px;
  height: 45px;
  fill: white;
  stroke: white;
  margin-left: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.slider-products__item .block-purchase__btn .fas {
  position: absolute;
  left: -100%;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 25px;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  color: black;
}

.slider-products__item .block-purchase__btn:hover .text {
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: transparent;
  overflow: hidden;
}

.slider-products__item .block-purchase__btn:hover .line {
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 0;
  height: 0;
}

.faq {
  max-width: 570px;
  margin: 0 auto;
  height: 500px;
  padding: 0 15px;
}

@media screen and (max-width: 768px) {
  .faq {
    height: 100%;
  }
}

.faq__item {
  border-top: 1px solid #ced6af;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.faq__item:last-child {
  border-bottom: 1px solid #ced6af;
}

.faq__item .block-question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0;
}

.faq__item .block-question__plus .plus {
  width: 19px;
  height: 19px;
  fill: #6e774a;
  margin-right: 26px;
  margin-bottom: -4px;
}

.faq__item .block-question__minus {
  display: none;
}

.faq__item .block-question__minus .minus {
  width: 19px;
  height: 19px;
  fill: #6e774a;
  stroke: #6e774a;
  margin-right: 26px;
  margin-bottom: -4px;
}

.faq__item .block-question__question {
  color: #6e774a;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 3px;
}

.faq__item .block-answer {
  display: none;
  margin: 15px 10px 30px 45px;
  font-size: 18px;
  font-weight: 300;
  line-height: 40px;
}

.page {
  text-align: center;
}

.page__title {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 7px;
  margin-bottom: 70px;
}

@media screen and (max-width: 480px) {
  .page__title {
    font-size: 24px;
    margin-bottom: 40px;
  }
}

.page__title--margin {
  margin-bottom: 50px;
}

.feedback {
  position: relative;
}

.feedback__item {
  text-align: center;
  position: relative;
}

@media screen and (max-width: 768px) {
  .feedback__item .img-slides {
    top: 15%;
  }
}

@media screen and (max-width: 1035px) {
  .feedback__item .img-slides__slide {
    visibility: hidden;
  }
}

.feedback__item .img-slides__slide img {
  width: 100%;
}

.feedback__item .testimonial {
  display: block;
  position: absolute;
  top: 20%;
  left: 25%;
  right: 25%;
  bottom: 25%;
  margin: 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 955px) and (max-width: 1499px) {
  .feedback__item .testimonial {
    top: 0;
  }
}

@media screen and (max-width: 1425px) {
  .feedback__item .testimonial {
    margin: 0 auto;
    top: 15%;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.feedback__item .testimonial__rating {
  margin-bottom: 30px;
}

.feedback__item .testimonial__rating .star {
  width: 16px;
  height: 15px;
  fill: #aab384;
  margin: 0 2px;
}

.feedback__item .testimonial__description {
  font-size: 22px;
  font-weight: 300;
  color: white;
  letter-spacing: 6px;
  line-height: 45px;
  margin-bottom: 20px;
}

@media screen and (min-width: 955px) and (max-width: 1500px) {
  .feedback__item .testimonial__description {
    font-size: 18px;
  }
}

@media screen and (max-width: 1035px) {
  .feedback__item .testimonial__description {
    color: black;
    letter-spacing: 4px;
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .feedback__item .testimonial__description {
    font-size: 16px;
  }
}

.feedback__item .testimonial__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 165px;
  color: white;
  text-transform: uppercase;
  font-size: 24px;
}

@media screen and (max-width: 1035px) {
  .feedback__item .testimonial__author {
    color: black;
    letter-spacing: 4px;
  }
}

.feedback__item .testimonial__author .line {
  width: 45px;
  height: 45px;
  fill: white;
  stroke: white;
  margin-right: 20px;
  margin-bottom: -3px;
}

@media screen and (max-width: 1035px) {
  .feedback__item .testimonial__author .line {
    fill: black;
    stroke: black;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 160px 0 60px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1160px) {
  .footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 50px;
    margin-right: 35px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 100px 0 60px 0;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    padding: 50px 0 30px 0;
  }
}

@media screen and (max-width: 835px) {
  .footer__info {
    display: none;
  }
}

.footer__info .line {
  display: block;
}

.footer__info .line__element {
  width: 372px;
  height: 372px;
  fill: #6e774a;
  margin-top: -130px;
}

@media screen and (max-width: 1160px) {
  .footer__info .line__element {
    display: none;
  }
}

.footer__info .block-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -100px;
}

.footer__info .block-elements__info-element {
  color: #6e774a;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 15px;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  padding-bottom: 7px;
}

.footer__info .block-elements__info-element:hover {
  border-bottom: 1px solid #ced6af;
}

.footer__nav {
  text-align: center;
}

@media screen and (max-width: 480px) {
  .footer__nav {
    margin-right: 15px;
  }
}

.footer__nav .nav-logo {
  color: #6e774a;
  font-size: 60px;
  margin-bottom: 10px;
}

@media screen and (max-width: 480px) {
  .footer__nav .nav-logo {
    margin-bottom: -15px;
    font-size: 40px;
    margin-left: -10px;
  }
}

.footer__nav .nav-social {
  display: block;
  min-height: 83px;
  -webkit-transition-duration: 0.3;
          transition-duration: 0.3;
}

.footer__nav .nav-social__link {
  text-decoration: none;
  -webkit-transition-duration: 0.3;
          transition-duration: 0.3;
}

.footer__nav .nav-social__link .social {
  width: 22px;
  height: 22px;
  fill: #6e774a;
  margin: 30px 25px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__nav .nav-social__link .social:hover {
  fill: #9db892;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.footer__nav .nav-line {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  display: inline-block;
}

@media screen and (max-width: 835px) {
  .footer__nav .nav-line {
    display: none;
  }
}

.footer__nav .nav-line__element {
  width: 55px;
  height: 55px;
  fill: #6e774a;
  stroke: #6e774a;
  margin-bottom: -5px;
}

.footer__nav .nav-subscribe {
  margin-bottom: 50px;
}

@media screen and (max-width: 480px) {
  .footer__nav .nav-subscribe {
    margin-bottom: 20px;
  }
}

.footer__nav .nav-subscribe__caption {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 25px 0;
}

@media screen and (max-width: 480px) {
  .footer__nav .nav-subscribe__caption {
    margin-top: -10px;
    font-size: 16px;
  }
}

.footer__nav .nav-subscribe__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 370px;
  height: 60px;
  border: 2px solid #ced6af;
  margin-left: -9px;
}

@media screen and (max-width: 480px) {
  .footer__nav .nav-subscribe__input {
    width: 100%;
    margin-left: 0;
  }
}

.footer__nav .nav-subscribe__input .field {
  background-color: transparent;
  padding: 30px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer__nav .nav-subscribe__input .btn {
  background-color: transparent;
  border: none;
  outline: none;
  width: 90px;
  height: 60px;
  cursor: pointer;
  position: relative;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.footer__nav .nav-subscribe__input .btn::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  display: block;
  width: 2px;
  height: 50px;
  background-color: #ced6af;
}

.footer__nav .nav-subscribe__input .btn:hover {
  background-color: #ced6af;
}

.footer__nav .nav-subscribe__input .btn__arrow {
  width: 22px;
  height: 22px;
  fill: #6e774a;
}

.footer__nav .nav-copyright {
  color: #6e774a;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 4px;
}

@media screen and (max-width: 480px) {
  .btn-arrow-right {
    width: 0;
    height: 0;
  }
}

@media screen and (max-width: 480px) {
  .btn-arrow-left {
    width: 0;
    height: 0;
  }
}
/*# sourceMappingURL=main.css.map */