@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */

.buttons__btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-arrow {
    margin: 0 20px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    z-index: 100;
}

.btn-arrow
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    bottom: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    
    /* -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); */

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 10px;
    line-height: 1;

    opacity: .75;
    width: 40px;
    height: 40px;
    color: #6e774a;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev,
.btn-arrow-left {
    z-index: 10;
    right: 50%;
    transform: rotate(180deg);
    margin-bottom: -86px;
}


.slick-next,
.btn-arrow-right {
    z-index: 10;
    left: 50%;
    margin-bottom: -86px;
}


.btn-arrow {
    width: 30px;
    height: 30px;
    fill: #6e774a; 
    transition: all 0.2s ease-in-out;
}


.btn-arrow:hover {
    /* width: 35px;
    height: 35px; */
    stroke: #6e774a;
}


.testimonials {
    background: transparent;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border: 1px solid rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    color: white;
    outline: none;
    cursor: pointer;
    letter-spacing: 1px;
    padding: 30px 40px;
    margin: -2px;
    margin-left: 1px;
    fill: white;
}

.testimonials:hover {
    background-color: rgba(255, 255, 255, 0.397);
} 
    


/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

